---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5/index.js'
import MasterHead from '../components/Masterhead.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <MasterHead />
      <h1 class="font-mplus text-center">What I take</h1>
      <Content>
        <section>
          <p class="mb-8 indent-4">
            My hobby as a computer science student is photography, I shoot with
            my Cannon EOS RP lens EF 50mm f/1.8 STM. I also use my iPhone 11. As
            a result, I've been working hard to improve my photography skills.
            Every time I take a new photograph, I try to learn something new.
            And I take a new photo every day. So, here is a photo gallery of my
            photos. Finally, I'd like to share my photography portfolio.
            <a
              href={HOMEPAGE_URL}
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
            >
              Learn more about me<IoArrowForward className="inline" />
            </a>
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
