---
import { Image } from '@astrojs/image/components'
---

<section>
  <h2
    class="font-mplus font-bold text-xl my-4 underline underline-offset-4 decoration-zinc-400 dark:decoration-zinc-700 decoration-4"
  >
    Created with
  </h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <li class="text-center mb-4">
      <a
        href="https://astro.build/"
        class="text-orange-500 dark:text-orange-400 xl:text-zinc-900 xl:dark:text-zinc-300 xl:hover:text-orange-400 xl:hover:dark:text-orange-400 relative transition-all duration-300 cursor-pointer filter 2xl:grayscale 2xl:hover:grayscale-0"
      >
        <Image
          class="border border-slate-300 dark:border-zinc-700 rounded-xl"
          src="/astrojs.jpg"
          width={720 * 2}
          aspectRatio={2.0}
          alt="AstroJS banner"
        />

        <div class="mt-3 text-xl">Astro</div>
      </a>
      <div class="opacity-70">Framework for building fast static websites</div>
    </li>
    <li class="text-center mb-4">
      <a
        href="https://tailwindcss.com/"
        class="text-orange-500 dark:text-orange-400 xl:text-zinc-900 xl:dark:text-zinc-300 xl:hover:text-orange-400 xl:hover:dark:text-orange-400 relative transition-all duration-300 cursor-pointer filter 2xl:grayscale 2xl:hover:grayscale-0"
      >
        <Image
          class="border border-slate-300 dark:border-zinc-700 rounded-xl"
          src="/tailwindcss.png"
          width={720 * 2}
          aspectRatio={2.0}
          alt="AstroJS banner"
        />

        <div class="mt-3 text-xl">Tailwind CSS</div>
      </a>
      <div class="opacity-70">CSS Framework for decorated websites</div>
    </li>
  </ul>
</section>
